.homehero {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.homehero::after {
  content: "";
  display: block;
  opacity: .0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.homehero * {
  position: relative;
  z-index: 2;
}

.hometext {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  min-height: 200px;
  /* background: rgb(255, 255, 255); */
  position: relative;
  color: white;
  font-size: 18px;
}

@media screen and (min-width: 100px) {
  .homehero h1 {
    font-size: 80px;
    padding-top: 110px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 60px;
  }

  .hometext {
    max-width: 80%;
  }

}

@media screen and (min-width: 400px) {
  .homehero h1 {
    font-size: 100px;
    padding-top: 140px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 80px;
  }

  .hometext {
    max-width: 80%;
  }

}

@media screen and (min-width: 600px) {
  .homehero h1 {
    font-size: 100px;
    padding-top: 160px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 80px;
  }

  .hometext {
    max-width: 80%;
  }

}

@media screen and (min-width: 800px) {
  .homehero h1 {
    font-size: 130px;
    padding-top: 165px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 100px;
  }

  .hometext {
    max-width: 700px;
  }
}

.circleimage {
  width: 300px;
  margin: 15px;
}