.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: .0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
  line-height: 100px;
}

/* .hero h1 {
  font-size: 130px;
  padding-top: 140px;
  margin-top: 0;
  font-family: 'Rochester', cursive;

} */

/* .hero h2 {
  font-family: 'Rochester', cursive;
  font-size: 40px;
} */

@media screen and (min-width: 100px) {
  .hero h1 {
    font-size: 80px;
    padding-top: 170px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 60px;
  }
  .hero h2 {
    font-family: 'Rochester', cursive;
    font-size: 26px;
    color: white;
    line-height: 65px;
  }
}

@media screen and (min-width: 400px) {
  .hero h1 {
    font-size: 100px;
    padding-top: 170px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 80px;
  }
  .hero h2 {
    font-family: 'Rochester', cursive;
    font-size: 36px;
    color: white;
    line-height: 75px;
  }
}

@media screen and (min-width: 600px) {
  .hero h1 {
    font-size: 130px;
    padding-top: 160px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 100px;
  }
  .hero h2 {
    font-family: 'Rochester', cursive;
    font-size: 30px;
    color: white;
    line-height: 65px;
  }
}

@media (min-width: 1000px) {
  .hero h1 {
    font-size: 140px;
    padding-top: 162px;
    margin-top: 0;
    font-family: 'Rochester', cursive;
    color: white;
    line-height: 110px;
  }
  .hero h2 {
    font-family: 'Rochester', cursive;
    font-size: 32px;
    color: white;
    line-height: 70px;
  }
}